/* Style for the body, including font, margin, padding, and background image setting */
body {
    font-family: 'Permanent Marker', cursive;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(14, 14, 14, 0.671),
    rgba(5, 11, 37, 0.527)),url(https://images.pexels.com/photos/347139/pexels-photo-347139.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* General for all pages, including display, padding, and color settings */
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: white;
    border-radius: 10px;
    height: 95vh;
    max-height: 95vh;
  
}

/* Style for hidden elements */
.hidden {
    display: none;
}

/* specific style for the home page, setting cursor and size */
#home-page {
    cursor: pointer;
    height: 100%;
    width: 100vw;
}

/* Animation for the text on the home page */
#home-page p {
    animation: dimming 1500ms infinite;
    font-size: 1.5rem; /* Adjust size as needed */
    color: #fff; /* Adjust color as needed */
    margin-top: 20px; /* Adjust margin as needed */
}

 /* Keyframes for the dimming animation */
@keyframes dimming {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

/* Style for unordered lists */
ul {
    padding: 0;
    text-align: left;
}

/* Style for the exit button */
.exit-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 8px 14px;
    font-size: 14px;
    cursor: pointer;
    background-color: #ffcccc;
    color: black;
    border: 2px solid #000;
    border-radius: 5px;
}

/* Hover effect for the exit button */
.exit-button:hover {
    background-color: #fd7979;
}


/* Style for the main container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

/* Style for the main title */
.container h1 {
    font-size: 7rem;
    margin-bottom: 15vh;
}

/* Style for the main paragraph */
.container p {
    font-size: 2.2rem;
}

/* Style for the difficulty selection title */
#difficulty-selection h2 {
    font-size: 5.5rem;
    margin-bottom: 15vh;
}

/* Responsive styles for the smaller screens */
@media (max-width: 768px) {
    .container h1 {
        font-size: 3.5rem;
        margin-bottom: 10vh;
    }

    #difficulty-selection h2 {
        font-size: 2.3rem;
        margin-bottom: 10vh;
    }

    .container p {
        font-size: 1.2rem;
    }

    .difficulty-button {
        padding: 10px 15px;
        font-size: 22px;
    }

    .difficulty-options {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    #instructions-page h1 {
        font-size: 3rem;
    }

    .instruction-container{
        flex-direction: column;
    }
    .instruction-container{
        width: 100%;
    }
    
    .bt-container{
        width: 100%;
    }
   
}

/* Style for the difficulty selection buttons container */
.difficulty-options {
    display: flex;
    gap: 22px;
}

/* Style for the difficulty selection buttons */
.difficulty-button {
    padding: 15px 20px;
    font-size: 24px;
    cursor: pointer;
    background-color: #e0e0ff;
    border: 1px solid #000;
    border-radius: 5px;
    margin: auto;
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* Hover effect for the difficulty selection buttons */
.difficulty-button:hover {
    background-color: #c0c0ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Style for the instructions page */
#instructions-page{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: white;
    border-radius: 10px;
    height: 95vh;
    max-height: 95vh;
    
}

/* Style for the instructions title */
#instructions-page h1 {
    font-size: 4rem;
    
}


/* Style for list items */
li{
    margin-bottom: 8px;
    font-size: large;
    font-style: italic;
}

/* Style for the instructions container */
.instruction-container{
    display: flex;
    gap: 5%;
    width: 75%;
    justify-content: space-between;
}

/* Style for the instructions text */
.instructions{
width: 70%;
}

/* Style for the game instruction text */ 
#game-instructions{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: white;
}
   
/* Style for the button container */
.bt-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

/* Style for star and restart buttons */
.bt-start, .bt-restart {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin: 10px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Style for the start button */
.bt-start {
    background-color: #28a745; /* Green */
}

/* Hover effect for the start button */
.bt-start:hover {
    background-color: #218838; /* Darker green */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Style for the restart button */ 
.bt-restart {
    background-color: #007bff; /* Blue */
}

/* Hover effect for the restart button */
.bt-restart:hover {
    background-color: #0056b3; /* Darker blue */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Style for the game over restart button */
.gameOverRestartButton {
    margin-top: 10vh;
    font-size: 60px;
    border-radius: 12px;
    color: green;
    border: 2px solid green;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7), 0 6px 20px 0 rgba(0,0,0,0.19); 
}

/* Hover effect for the game over restart button */
.gameOverRestartButton:hover {
    background-color: green;
    color: white;
}

/* Style for the game over exit button */
.gameOverExitButton {
    margin-top: 10vh;
    padding: 5px 25px;
    font-size: 60px;
    border-radius: 12px;
    color: red;
    border: 2px solid red;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7), 0 6px 20px 0 rgba(0,0,0,0.19); 
}

/* Hover effect for the game over exit button */
.gameOverExitButton:hover {
    background-color: red;
    color: white;
}

/* Style for the game over text */
.gameOverText {
    text-align: center;
    font-size: 6em;
    animation: color-change 1s infinite;
    padding: 10px 0px;
}

/* Keyframes for the color-change animation */
@keyframes color-change {
    0% { color:red; }
    50% { color:blue; }
    100% { color:red; }
}


