/* Style for the body, including font, margin, padding, and background image settings */body {
    font-family: 'Permanent Marker', cursive;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(14, 14, 14, 0.671),
    rgba(5, 11, 37, 0.527)),url(https://images.pexels.com/photos/347139/pexels-photo-347139.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Keyframes for the dimming animation*/
@keyframes dimming {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

/* General container style using grid layout */
.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 10px;
    width: 90vw;
    max-width: 1200px;
    padding: 20px;
    border: 2px solid #000;
    background-color: #fff;
    box-sizing: border-box;
}

/* Style for the left and right sections of the grid */
.left-section, .right-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Common style for different sections inside left and right sections */
.matches, .scoreboard, .countdown, .stopwatch, .instructions, .restart {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

/* Style for matches section */
.matches {
    width: 100%;
}

/* Style for topwatch, countdown, and scoreboard sections */
.stopwatch, .countdown, .scoreboard {
    width: 100%; 
    margin-top: 10px;
}

/* Style for instructions and restart sections */
.instructions, .restart {
    width: 100%;
    margin-top: 20px;
}

/* Style for the center section of the grid */
.center-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Style for the game grid */
.game-grid {
    display: grid;
    grid-gap: 20px;
    width: 100%;
}

/* Style for individual game cells */
.game-cell {
    width: 100%;
    /* padding-bottom: 150%; Maintains aspect ratio of 2:3 */
    border: 2px solid #000;
    background-color: #e0e0f0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Style for buttons inside the game */
.button {
    margin-top: 10px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

/* Style for red buttons inside the game */
.red-button{
    margin-top: 10px;
    padding: 10px;
    background-color: red;
    color: #fff;
    cursor: pointer;
}
